<div class=" h-full w-full block">
    <link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{{ 'section-rich-text.css' | asset_url }}" media="print" onload="this.media='all'">
    
    <noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
    <noscript>{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}</noscript>
    <div class="w-full flex items-center h-308px" style="background-color: {{ section.settings.bgcolor }}">
      <div class="rich-text__blocks">          
              <div class="rich-text-title ">{{ section.settings.title | escape }}</div >
              <div class="rich-text-para">{{ section.settings.subheading }}</div>
      </div>
    </div>
    <div id="blocks__jobs__container" class="w-11/12 lg:w-full xl:w-10 mx-auto">
        <div class="pt-20">
            {% for block in section.blocks %}
            {% if block.settings.link_to != blank %}
            <a href="{{ block.settings.link_to }}">
            {% endif %}
              <div class="flex blocks mb-7 h-95px	 w-full lg:w-920px mx-auto items-center">
                  <div class="w-1/2">
                      <div class="flex items-center justify-start xl:ml-60 lg:ml-40 md:ml-20 ml-4">
                          <div id="blocks__content" class="block">
                              <div class="font-block">{{ block.settings.title}}</div>
                              <div class="font-block-light"> {{ block.settings.subheading}}</div>
                          </div>
                      </div>
                  </div>
                  <div class="w-1/2">
                      <div id="blocks__content__svg-icon" class="items-center flex justify-around mr-8"> {% include 'icon_block-arrow' %} </div>
                  </div>
              </div>
            {% if block.settings.link_to != blank %}
            </a>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>
{% schema %}
{
"name": "Blocks",
"max_blocks": 4,
"settings": [ 
{
  "type": "text",
  "id": "title",
  "label": "Heading"
}, 
{
  "type": "richtext",
  "id": "subheading",
  "label": "Subheading"
},
{
    "type": "color",
    "id": "bgcolor",
    "label": "choose color"
  }
],
"blocks": [
  {
    "type": "card",
    "name": "Card",  
    "settings": [
    {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image"
      },
    {
        "type": "richtext",
        "id": "title",
        "label": "Title"
      },
    {
        "type": "richtext",
        "id": "subheading",
        "label": "Subheading"
      }, 
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    }, 
    {
      "type": "url",
      "id": "link_to",
      "label": "Link"
    }
    ]
  }
],
"presets": [{
"name": "Blocks",
"category": "Content",
"blocks": [{
  "type": "card"
},{
  "type": "card"
}]
}]
}

{% endschema %} 