<div class="w-full py-20">
    <div class="container mx-auto  text-center justify-center items-center">
        <div class="miniheading"> 
            {% if section.settings.miniheading  != blank %}
            {{ section.settings.miniheading }}
            {% endif %}
          </div>
      <div class="heading-cards pt-1.5"> 
        {% if section.settings.title  != blank %}
        {{ section.settings.title }}
        {% endif %}
      </div>
      <div class="subheading-cards pt-8">
        {% if section.settings.subheading  != blank %}
          {{ section.settings.subheading }}
        {% endif %}
      </div>
      {% if section.settings.button_text != blank %}
      <a href="{{ section.settings.button_url }}"
        class="font-cards justify-center pt-11"
        aria-label="{{ ariaLabel }}">
          <div class="button-cards" id="btn-config">
            {{- section.settings.button_text | escape -}}
          </div>
      </a>
    {% endif %}
    </div>
      <div class="xl:w-10 w-11/12 mx-auto  justify-between pt-20 xl:flex md:grid grid-flow-col grid-cols-3 grid-rows-2 gap-4 block">
        {% for block in section.blocks %}
        {% if block.settings.background_image != blank %}
        <div class="block sm:pt-0 pt-10">
             <div class="w-full img-cards-w-full">
                {{ block.settings.background_image | img_url: 'master'| img_tag: block.settings.icon.alt }}
             </div>
            {% if block.settings.title != blank %}
            <div class="cards-title pt-5">
                {{ block.settings.title }}
            </div>
            {% endif %}
            {% if block.settings.subheading != blank %}
            <div class="cards-subheading">
                {{ block.settings.subheading }}
            </div>
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
  </div>
  {% schema %}
    {
      "name": "Cards",
      "max_blocks": 6,
      "settings": [ 
      {
        "type": "richtext",
        "id": "miniheading",
        "label": "Small Text"
      }, 
        {
          "type": "richtext",
          "id": "title",
          "label": "Heading"
        }, 
        {
          "type": "richtext",
          "id": "subheading",
          "label": "Subheading"
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "Button text"
          },
          {
            "type": "url",
            "id": "button_url",
            "label": "Button url"
          }
        ],
      "blocks": [
          {
            "type": "card",
            "name": "Card",  
            "settings": [
            {
                "type": "image_picker",
                "id": "background_image",
                "label": "Background Image"
              },
            {
                "type": "richtext",
                "id": "title",
                "label": "Title"
              },
            {
                "type": "richtext",
                "id": "subheading",
                "label": "Subheading"
              }
            ]
          }
        ],
      "presets": [{
        "name": "Cards",
        "category": "Content",
        "blocks": [{
          "type": "card"
        },{
          "type": "card"
        }]
      }]
    }
  {% endschema %}  