<div class="w-full md:py-20 pt-20">
    <div class="container mx-auto  text-center justify-center items-center p-4">
        <div class="miniheading"> 
            {% if section.settings.miniheading  != blank %}
            {{ section.settings.miniheading }}
            {% endif %}
          </div>
      <div class="heading-cards pt-1.5"> 
        {% if section.settings.title  != blank %}
        <div class="featured-title">{{ section.settings.title }}</div>
        {% endif %}
      </div>
      <div class="subheading-cards pt-8">
        {% if section.settings.subheading  != blank %}
          {{ section.settings.subheading }}
        {% endif %}
      </div>
      {% if section.settings.button_text != blank %}
      <a href="{{ section.settings.button_url }}"
        class="font-cards justify-center pt-11"
        aria-label="{{ ariaLabel }}">
          <div class="button-cards" id="btn-config">
            {{- section.settings.button_text | escape -}}
          </div>
      </a>
    {% endif %}
    </div>
      <div class="max-w-8xl xl:w-10 w-4/5 mx-auto justify-between md:pt-20 pt-4 grid md:grid-cols-3 grid-cols-1 gap-8 block">
        {% for block in section.blocks %}
        {% if block.settings.background_image != blank %}
        <div class="block pt-10">
             <a href="{{ block.settings.card_url }}"><div class="w-full img-cards-w-full">
                {% comment %} {{ block.settings.background_image | img_url: 'master'| img_tag: block.settings.icon.alt | img_alt: 'pic' }} {% endcomment %}
                <img src="{{ block.settings.background_image | img_url: 'master' }}" alt="location-image">
             </div>
            </a>
            {% if block.settings.title != blank %}
            <div class="cards-title pt-5">
                {{ block.settings.title }}
            </div>
            {% endif %}
            {% if block.settings.subheading != blank %}
            <div class="cards-subheading">
              <a href="{{ block.settings.card_url }}">
                {{ block.settings.subheading }}
              </a>
              <span class="line-bottom"></span>
            </div>
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
  </div>
  {% schema %}
    {
      "name": "Cards",
      "max_blocks": 6,
      "settings": [ 
      {
        "type": "richtext",
        "id": "miniheading",
        "label": "Small Text"
      }, 
        {
          "type": "richtext",
          "id": "title",
          "label": "Heading"
        }, 
        {
          "type": "richtext",
          "id": "subheading",
          "label": "Subheading"
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "Button text"
          },
          {
            "type": "url",
            "id": "button_url",
            "label": "Button url"
          }
        ],
      "blocks": [
          {
            "type": "card",
            "name": "Card",  
            "settings": [
            {
                "type": "image_picker",
                "id": "background_image",
                "label": "Background Image"
              },
            {
                "type": "richtext",
                "id": "title",
                "label": "Title"
              },
            {
                "type": "richtext",
                "id": "subheading",
                "label": "Subheading"
              },
              {
                "type": "url",
                "id": "card_url",
                "label": "Button url"
              }
            ]
          }
        ],
      "presets": [{
        "name": "Cards",
        "category": "Content",
        "blocks": [{
          "type": "card"
        },{
          "type": "card"
        }]
      }]
    }
  {% endschema %}  