<div class=" max-h-1081 h-1081 w-full flex bg-no-repeat bg-center bg-cover" {% if section.settings.background_image != blank %} style="background-image: url({{ section.settings.background_image | img_url: 'master' }})" {% endif %}>
  <div class="w-10  mx-auto flex">
      <div class="w-3/6	flex items-center ml-16">
        <div class="block bg-lightwhite absolute top-1/2	right-1/2 p-20	">
          <div class="ml-64">
            {% if section.settings.heading != blank %}
            <div class="headline-config">
              {{ section.settings.heading }}
            </div>
        {% endif %}
        {% if section.settings.desc != blank %}
            <div class="desc-config">
              {{ section.settings.desc }}
            </div>
        {% endif %}
        {% if section.settings.button_text != blank %}
            <a href="{{ section.settings.button_url }}"
              class="button-config-text"
              aria-label="{{ ariaLabel }}">
                <div class="button-config">
                  {{- section.settings.button_text | escape -}}
                </div>
            </a>
          {% endif %}
          </div>
        </div>
      </div>
      <div class="w-3/6	flex items-center">
          <div class="bg-lightwhite w-full">
              test
          </div>
      </div>
  </div>
</div>
{% schema %}
    {
    "name": "Frontpage Configurator",
    "settings": [ 
    {
    "type": "image_picker",
    "id": "background_image",
    "label": "Background image"
    }, 
    {
    "type": "image_picker",
    "id": "mobile_background_image",
    "label": "Mobile Background image"
    },
    {
    "type": "richtext",
    "id": "heading",
    "label": "Heading"
    }, 
    {
    "type": "richtext",
    "id": "desc",
    "label": "Description"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button url"
    }
    ],
    "presets": [{
    "name": "Frontpage Configurator",
    "category": "Content"
    }]
    }
{% endschema %} 