<div class=" h-screen w-full flex " id="image-text">
    <div class="w-1/2 flex items-center justify-center " id="text-width">
        <div class="block">
            <div class="w-590px " id="text-title">
                {% if section.settings.heading != blank %}
                <div class="xl:font-56 font-32px font-light	md:text-blacklight text-white xl:text-56 text-sm23 bg-redlight sm:bg-transparent sm:p-0 	p-5">
                  {{ section.settings.heading }}
                </div>
            {% endif %}
            {% if section.settings.desc != blank %}
                <div class="font-h pt-10 sm:px-0	px-5 py-10">
                  {{ section.settings.desc }}
                </div>
            {% endif %}
            {% if section.settings.button_text != blank %}
                <a href="{{ section.settings.button_url }}"
                  class="button-config-text md:pt-14	sm:p-0 	p-5 flex"
                  aria-label="{{ ariaLabel }}">
                    <div class="button-config" id="btn-config">
                      {{- section.settings.button_text | escape -}}
                    </div>
                </a>
              {% endif %}
              </div>
     
        </div>
    </div>
    <div class="xl:h-screen h-50vh w-full xl:w-1/2 bg-no-repeat bg-cover" {% if section.settings.background_image != blank %} style="background-image: url({{ section.settings.background_image | img_url: 'master' }})" {% endif %}>
    </div>
  </div>
{% schema %}
{
"name": "Front-page image and text",
"settings": [ 
{
"type": "image_picker",
"id": "background_image",
"label": "Background image"
},
{
  "type": "select",
  "id": "layout",
  "options": [
    {
      "value": "image_first",
      "label": "t:sections.image-with-text.settings.layout.options__1.label"
    },
    {
      "value": "text_first",
      "label": "t:sections.image-with-text.settings.layout.options__2.label"
    }
  ],
  "default": "image_first",
  "label": "t:sections.image-with-text.settings.layout.label",
  "info": "t:sections.image-with-text.settings.layout.info"
},
{
"type": "image_picker",
"id": "mobile_background_image",
"label": "Mobile Background image"
},
{
  "type": "richtext",
  "id": "heading",
  "label": "Heading"
  }, 
  {
  "type": "richtext",
  "id": "desc",
  "label": "Description"
  },
  {
    "type": "text",
    "id": "button_text",
    "label": "Button text"
  },
  {
    "type": "url",
    "id": "button_url",
    "label": "Button url"
  }
],
"presets": [{
"name": "Front-page image and text",
"category": "Content"
}]
}
{% endschema %} 