<div id="slider-height-auto" class="  md:h-screen h-auto w-full block xl:flex xl:bg-contain sm:bg-cover bg-contain bg-no-repeat  bg-bottom sm:bg-right overflow-hidden" {% if section.settings.background_image != blank %} style="background-image: url({{ section.settings.background_image | img_url: 'master' }})" {% endif %}>
  <div class="mx-auto w-full xl:w-10 items-center flex" id="slider-2-height-auto">
    <div class="xl:h-40vh h-auto sm:h-auto p-5 md:p-0 xl:w-full md:w-1/2 w-full xl:text-left text-center xl:my-0 my-20">
      {% if section.settings.heading != blank %}
      <div class="xl:text-navlink sm:text-white text-navlink text-sm23 font-light leading-40 w-full xl:w-290px	">
        {{ section.settings.heading }}
      </div>
  {% endif %}
  {% if section.settings.desc != blank %}
      <div class="desc-slider-img xl:text-darkgrey sm:text-white text-darkgrey e py-8	">
        {{ section.settings.desc }}
      </div>
  {% endif %}
  {% if section.settings.button_text != blank %}
      <a href="{{ section.settings.button_url }}"
        class="flex xl:justify-left justify-center lg:button-config-text"
        aria-label="{{ ariaLabel }}">
          <div class="btn-slider sm:bg-colorprimary bg-white sm:text-white text-dark 	border	 border-solid sm:border-white border-current border">
            {{- section.settings.button_text | escape -}}
          </div>
      </a>
    {% endif %}
    </div>
  <div class="flex  mx-auto sm:w-full w-7/7" id="rd">
      <div class="w-10 swiper-container mySwiper hidde-mobile xl:mb-0 mb-10" id="rd-2">
          <div class="swiper-wrapper xl-wrapper-slider" id="swiper-wrapper">
    {% for block in section.blocks %}
    <div class="swiper-slide xl-responsive-slider" id="removeslider">
    <div class=" mr-8 relative mx-auto text-center
      flex items-center
      tablet-responsive
        rounded-md overflow-hidden
        md:w-full xl:h-full
        h-auto
       sm:pt-0
        cursor-pointer"
        x-data="{open: false }" @mouseover="open = true" @mouseout="open = false" @click="open = !open"
        >
          <div class="block">
          <div class="flex justify-center items-center tablet-responsive "> {{ block.settings.background_image | img_url: 'master'| img_tag: block.settings.icon.alt}} </div>
          </div>
          <div class="absolute left-1/2  transform -translate-x-1/2  z-2 text-white"
          x-show.transition.opacity.duration.750="open"> 
          <div class="border-hover"> </div>
        </div>
          <div class="absolute left-1/2 top-1/2 transform -translate-x-1/2 bottom-5 z-2 text-white"> 
            <div class="ucards-text">
              {{ block.settings.stll}}
            </div>
          </div>
          <div class="absolute left-1/2 top-60 transform -translate-x-1/2 bottom-5 z-2 text-white"  x-show.transition.opacity.duration.750="open"> 
            <div class="">
              {% include 'icon_arrow-right-circle' %}
            </div>
          </div> 
    </div>
  </div>
    {% endfor %}
  </div>
    <div class="swiper-button-next">{% include 'icon_right-slider' %}</div>
    <div class="swiper-button-prev">{% include 'icon_left-slider' %}</div>
</div>
  <!-- FOR MOBILE  -->
<div class="w-10 show-mobile sm:mb-0 mb-7	" id="rd-2" >
{% for block in section.blocks %}
<div class=" mr-0 sm:mr-8 relative mx-auto text-center
sm:flex inline-block items-center
  rounded-md overflow-hidden
  md:w-full xl:h-full
  h-auto
   sm:pt-0
  cursor-pointer"
  x-data="{open: false }" @mouseover="open = true" @mouseout="open = false" @click="open = !open"
  >
    <div class="block">
    {% if block.settings.mobile_background_image != blank %}<div class="flex justify-center items-center"> {{ block.settings.mobile_background_image | img_url: 'master'| img_tag: block.settings.icon.alt}} </div>{% endif %}
    </div>
    <div class="absolute left-1/2 top-1/2 transform -translate-x-1/2 bottom-5 z-2 text-white"> 
      <div class="ucards-text">
        {{ block.settings.stll}}
      </div>
    </div>
</div>
{% endfor %}
</div>
  <!-- END MOBILE  -->
</div>
</div>
</div>
{% schema %}
{
"name": "Slider Cards",
"max_blocks": 10,
"settings": [ 
{
"type": "image_picker",
"id": "background_image",
"label": "Background image"
}, 
{
"type": "image_picker",
"id": "mobile_background_image",
"label": "Mobile Background image"
},
{
  "type": "richtext",
  "id": "heading",
  "label": "Heading"
  }, 
  {
  "type": "richtext",
  "id": "desc",
  "label": "Description"
  },
  {
    "type": "text",
    "id": "button_text",
    "label": "Button text"
  },
  {
    "type": "url",
    "id": "button_url",
    "label": "Button url"
  }
],
"blocks": [
{
  "type": "card",
  "name": "Card",  
  "settings": [
  {
      "type": "image_picker",
      "id": "background_image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_background_image",
      "label": "Mobile Image"
    },
  {
      "type": "richtext",
      "id": "stll",
      "label": "Title"
    },
  {
      "type": "richtext",
      "id": "stlll",
      "label": "Subheading"
    }, 
  {
    "type": "richtext",
    "id": "description",
    "label": "Description"
  }
  ]
}
],
"presets": [{
"name": "Slider Cards",
"category": "Content",
"blocks": [{
"type": "card"
},{
"type": "card"
}]
}]
}
{% endschema %} 