{{ 'tabs.css' | asset_url | stylesheet_tag }}
<div class="w-full  h-full block xl:flex pt-20 mb-20">
    <div class="w-full xl:w-10 mx-auto block xl:flex">
        <div class="w-1/2 relative w-full" id="width-fl-tabs">
            <div class="block xl:w-auto w-11/12 mx-auto mb-20">
              <div class="w-full  block ">
                {% if section.settings.smtext != blank %}
                    <div class="tab-description">
                      {{ section.settings.smtext }}
                    </div>
                {% endif %}
                    {% if section.settings.heading != blank %}
                    <div class="tab-title">
                      {% render 'green-text', text: section.settings.heading %}
                    
                    </div>
                {% endif %}
                {% if section.settings.desc != blank %}
                    <div class="desc-config pt-10 ">
                      {{ section.settings.desc }}
                    </div>
                {% endif %}
                    <div class="flex ">
                        {% if section.settings.button_text != blank %}
                        <a href="{{ section.settings.button_url }}"
                          class="button-config-text pt-14	"
                          aria-label="{{ ariaLabel }}">
                            <div class="greenbutton ">
                              {{- section.settings.button_text | escape -}}
                            </div>
                        </a>
                    {% endif %}
                    {% if section.settings.button_text != blank %}
                    <a href="{{ section.settings.secondbutton_url }}"
                      class="button-config-text pt-14 pl-5	"
                      aria-label="{{ ariaLabel }}">
                        <div class="buttontext">
                          {{- section.settings.secondbutton_text | escape -}}
                        </div>
                    </a>
                {% endif %}
                    </div>
                </div>
                <div class=" relative xl:absolute right-0 w-full xl:w-775px" id="position-image">
                  {{ section.settings.image | img_url: 'master'| img_tag: block.settings.icon.alt}} 
                  </div>
            </div>

        </div>

        <div class="w-full flex xl:justify-end justify-center" id="flex-tab">
            <div class="w-full sm:w-9/12" id="w-ful-tab-1">
                <ul class="tabs w-full flex w-full">
                  <li><a href="#tab-1"><div class="head-tabs-title">{{section.settings.firsttab}}</div></a></li>
                  <li><a href="#tab-2"><div class="head-tabs-title">{{section.settings.secondtab}}</div></a></li>
                  <li><a href="#tab-3"><div class="head-tabs-title">{{section.settings.thirdtab}}</div></a></li>
                </ul>
                <div id="tab-1" class="">
                  <div class="mt-10">
                    <table class="w-full">
                      {% for block in section.blocks %}
                        {% if block.settings.text_tab == 'tab-1' %}
                          {% if block.settings.date != blank %}
                          <div class="items-of-events relative">
                            {% if block.settings.first-event-url != blank %}
                              <a href="{{ block.settings.first-event-url }}">
                              <div class="absolute top-1/3 md:right-16 right-2 right-2 hidden arrow-at-location-events">{% include 'icon-arrow-right' %}</div>
                            {% endif %}
                              <div class="w-full flex flex-row p-4 items-center border border-transparent hover:border-lightgrey hover:bg-ShadowGreen">
                                <div class="w-1/3">{{ block.settings.date }}</div>
                                <div class="w-2/3 ml-8">
                                  <div class="location-event-title font-bold">{{ block.settings.location-event }}</div>
                                  <div>{{ block.settings.description-event }}</div>
                                </div>
                              </div>
                            {% if block.settings.first-event-url != blank %}
                              </a>
                            {% endif %}
                            </div>
                          {% endif %}
                        {% if block.settings.date-second != blank %}
                        <div class="items-of-events relative">
                          {% if block.settings.second-event-url != blank %}
                            <a href="{{ block.settings.second-event-url }}">
                            <div class="absolute top-1/3 md:right-16 right-2 hidden arrow-at-location-events">{% include 'icon-arrow-right' %}</div>
                          {% endif %}
                            <div class="w-full flex flex-row p-4 items-center border border-transparent hover:border-lightgrey hover:bg-ShadowGreen">
                              <div class="w-1/3">{{ block.settings.date-second }}</div>
                              <div class="w-2/3 ml-8">
                                <div class="location-event-title font-bold">{{ block.settings.location-event-second }}</div>
                                <div>{{ block.settings.description-event-second }}</div>
                              </div>
                            </div>
                          {% if block.settings.second-event-url != blank %}
                            </a>
                          {% endif %}
                          </div>
                        {% endif %}
                        {% if block.settings.date-third != blank %}
                        <div class="items-of-events relative">
                          {% if block.settings.third-event-url != blank %}
                            <a href="{{ block.settings.third-event-url }}">
                            <div class="absolute top-1/3 md:right-16 right-2 hidden arrow-at-location-events">{% include 'icon-arrow-right' %}</div>
                          {% endif %}
                            <div class="w-full flex flex-row p-4 items-center border border-transparent hover:border-lightgrey hover:bg-ShadowGreen">
                              <div class="w-1/3">{{ block.settings.date-third }}</div>
                              <div class="w-2/3 ml-8">
                                <div class="location-event-title font-bold">{{ block.settings.location-event-third }}</div>
                                <div>{{ block.settings.description-event-third }}</div>
                              </div>
                            </div>
                          {% if block.settings.third-event-url != blank %}
                            </a>
                          {% endif %}
                          </div>
                        {% endif %}
                        {% if block.settings.date-fourth != blank %}
                        <div class="items-of-events relative">
                          {% if block.settings.fourth-event-url != blank %}
                            <a href="{{ block.settings.fourth-event-url }}">
                            <div class="absolute top-1/3 md:right-16 right-2 hidden arrow-at-location-events">{% include 'icon-arrow-right' %}</div>
                          {% endif %}
                            <div class="w-full flex flex-row p-4 items-center border border-transparent hover:border-lightgrey hover:bg-ShadowGreen">
                              <div class="w-1/3">{{ block.settings.date-fourth }}</div>
                              <div class="w-2/3 ml-8">
                                <div class="location-event-title font-bold">{{ block.settings.location-event-fourth }}</div>
                                <div>{{ block.settings.description-event-fourth }}</div>
                              </div>
                            </div>
                          {% if block.settings.fourth-event-url != blank %}
                            </a>
                          {% endif %}
                          </div>
                        {% endif %}
                        {% endif %}
                      {% endfor %}
                      </table>
                    </div>
                </div>
                <div id="tab-2" class="">
                  <div class="mt-10">
                  <table>
                   {% for block in section.blocks %}
                        {% if block.settings.text_tab == 'tab-2' %}
                          {% if block.settings.date != blank %}
                          <div class="items-of-events relative">
                            {% if block.settings.first-event-url != blank %}
                              <a href="{{ block.settings.first-event-url }}">
                              <div class="absolute top-1/3 md:right-16 right-2 right-2 hidden arrow-at-location-events">{% include 'icon-arrow-right' %}</div>
                            {% endif %}
                              <div class="w-full flex flex-row p-4 items-center border border-transparent hover:border-lightgrey hover:bg-ShadowGreen">
                                <div class="w-1/3">{{ block.settings.date }}</div>
                                <div class="w-2/3 ml-8">
                                  <div class="location-event-title font-bold">{{ block.settings.location-event }}</div>
                                  <div>{{ block.settings.description-event }}</div>
                                </div>
                              </div>
                            {% if block.settings.first-event-url != blank %}
                              </a>
                            {% endif %}
                            </div>
                          {% endif %}
                        {% if block.settings.date-second != blank %}
                        <div class="items-of-events relative">
                          {% if block.settings.second-event-url != blank %}
                            <a href="{{ block.settings.second-event-url }}">
                            <div class="absolute top-1/3 md:right-16 right-2 hidden arrow-at-location-events">{% include 'icon-arrow-right' %}</div>
                          {% endif %}
                            <div class="w-full flex flex-row p-4 items-center border border-transparent hover:border-lightgrey hover:bg-ShadowGreen">
                              <div class="w-1/3">{{ block.settings.date-second }}</div>
                              <div class="w-2/3 ml-8">
                                <div class="location-event-title font-bold">{{ block.settings.location-event-second }}</div>
                                <div>{{ block.settings.description-event-second }}</div>
                              </div>
                            </div>
                          {% if block.settings.second-event-url != blank %}
                            </a>
                          {% endif %}
                          </div>
                        {% endif %}
                        {% if block.settings.date-third != blank %}
                        <div class="items-of-events relative">
                          {% if block.settings.third-event-url != blank %}
                            <a href="{{ block.settings.third-event-url }}">
                            <div class="absolute top-1/3 md:right-16 right-2 hidden arrow-at-location-events">{% include 'icon-arrow-right' %}</div>
                          {% endif %}
                            <div class="w-full flex flex-row p-4 items-center border border-transparent hover:border-lightgrey hover:bg-ShadowGreen">
                              <div class="w-1/3">{{ block.settings.date-third }}</div>
                              <div class="w-2/3 ml-8">
                                <div class="location-event-title font-bold">{{ block.settings.location-event-third }}</div>
                                <div>{{ block.settings.description-event-third }}</div>
                              </div>
                            </div>
                          {% if block.settings.third-event-url != blank %}
                            </a>
                          {% endif %}
                          </div>
                        {% endif %}
                        {% if block.settings.date-fourth != blank %}
                        <div class="items-of-events relative">
                          {% if block.settings.fourth-event-url != blank %}
                            <a href="{{ block.settings.fourth-event-url }}">
                            <div class="absolute top-1/3 md:right-16 right-2 hidden arrow-at-location-events">{% include 'icon-arrow-right' %}</div>
                          {% endif %}
                            <div class="w-full flex flex-row p-4 items-center border border-transparent hover:border-lightgrey hover:bg-ShadowGreen">
                              <div class="w-1/3">{{ block.settings.date-fourth }}</div>
                              <div class="w-2/3 ml-8">
                                <div class="location-event-title font-bold">{{ block.settings.location-event-fourth }}</div>
                                <div>{{ block.settings.description-event-fourth }}</div>
                              </div>
                            </div>
                          {% if block.settings.fourth-event-url != blank %}
                            </a>
                          {% endif %}
                          </div>
                        {% endif %}
                        {% endif %}
                      {% endfor %}
                  </table>
                  </div>
                </div>
                <div id="tab-3" class="">
                  <div class="mt-10">
                  <table>
                     {% for block in section.blocks %}
                        {% if block.settings.text_tab == 'tab-3' %}
                          {% if block.settings.date != blank %}
                          <div class="items-of-events relative">
                            {% if block.settings.first-event-url != blank %}
                              <a href="{{ block.settings.first-event-url }}">
                              <div class="absolute top-1/3 md:right-16 right-2 right-2 hidden arrow-at-location-events">{% include 'icon-arrow-right' %}</div>
                            {% endif %}
                              <div class="w-full flex flex-row p-4 items-center border border-transparent hover:border-lightgrey hover:bg-ShadowGreen">
                                <div class="w-1/3">{{ block.settings.date }}</div>
                                <div class="w-2/3 ml-8">
                                  <div class="location-event-title font-bold">{{ block.settings.location-event }}</div>
                                  <div>{{ block.settings.description-event }}</div>
                                </div>
                              </div>
                            {% if block.settings.first-event-url != blank %}
                              </a>
                            {% endif %}
                            </div>
                          {% endif %}
                        {% if block.settings.date-second != blank %}
                        <div class="items-of-events relative">
                          {% if block.settings.second-event-url != blank %}
                            <a href="{{ block.settings.second-event-url }}">
                            <div class="absolute top-1/3 md:right-16 right-2 hidden arrow-at-location-events">{% include 'icon-arrow-right' %}</div>
                          {% endif %}
                            <div class="w-full flex flex-row p-4 items-center border border-transparent hover:border-lightgrey hover:bg-ShadowGreen">
                              <div class="w-1/3">{{ block.settings.date-second }}</div>
                              <div class="w-2/3 ml-8">
                                <div class="location-event-title font-bold">{{ block.settings.location-event-second }}</div>
                                <div>{{ block.settings.description-event-second }}</div>
                              </div>
                            </div>
                          {% if block.settings.second-event-url != blank %}
                            </a>
                          {% endif %}
                          </div>
                        {% endif %}
                        {% if block.settings.date-third != blank %}
                        <div class="items-of-events relative">
                          {% if block.settings.third-event-url != blank %}
                            <a href="{{ block.settings.third-event-url }}">
                            <div class="absolute top-1/3 md:right-16 right-2 hidden arrow-at-location-events">{% include 'icon-arrow-right' %}</div>
                          {% endif %}
                            <div class="w-full flex flex-row p-4 items-center border border-transparent hover:border-lightgrey hover:bg-ShadowGreen">
                              <div class="w-1/3">{{ block.settings.date-third }}</div>
                              <div class="w-2/3 ml-8">
                                <div class="location-event-title font-bold">{{ block.settings.location-event-third }}</div>
                                <div>{{ block.settings.description-event-third }}</div>
                              </div>
                            </div>
                          {% if block.settings.third-event-url != blank %}
                            </a>
                          {% endif %}
                          </div>
                        {% endif %}
                        {% if block.settings.date-fourth != blank %}
                        <div class="items-of-events relative">
                          {% if block.settings.fourth-event-url != blank %}
                            <a href="{{ block.settings.fourth-event-url }}">
                            <div class="absolute top-1/3 md:right-16 right-2 hidden arrow-at-location-events">{% include 'icon-arrow-right' %}</div>
                          {% endif %}
                            <div class="w-full flex flex-row p-4 items-center border border-transparent hover:border-lightgrey hover:bg-ShadowGreen">
                              <div class="w-1/3">{{ block.settings.date-fourth }}</div>
                              <div class="w-2/3 ml-8">
                                <div class="location-event-title font-bold">{{ block.settings.location-event-fourth }}</div>
                                <div>{{ block.settings.description-event-fourth }}</div>
                              </div>
                            </div>
                          {% if block.settings.fourth-event-url != blank %}
                            </a>
                          {% endif %}
                          </div>
                        {% endif %}
                        {% endif %}
                      {% endfor %}
                  </table>
                </div>
                </div>
              </div>
        </div>
    </div>
</div>
  {% schema %}
{
"name": "tabs",
"max_blocks": 100,
"settings": [ 
    {
        "type": "image_picker",
        "id": "image",
        "label": "Background image"
    }, 
    {
        "type": "richtext",
        "id": "smtext",
        "label": "Small Heading"
      }, 
    {
    "type": "richtext",
    "id": "heading",
    "label": "Heading"
  }, 
  {
    "type": "richtext",
    "id": "desc",
    "label": "Description"
  },
  {
    "type": "text",
    "id": "button_text",
    "label": "Button text"
  },
  {
    "type": "url",
    "id": "button_url",
    "label": "Button url"
  },
  {
    "type": "text",
    "id": "firsttab",
    "label": "Tab 1"
  },
  {
    "type": "text",
    "id": "secondtab",
    "label": "Tab 2"
  }, 
  {
    "type": "text",
    "id": "thirdtab",
    "label": "Tab 3"
  }
  
],
"blocks": [
  {
    "type": "text",
    "name": "List",
    "settings": [
        {
            "type": "header",
            "content": "First Event"
        },
        {
            "type": "url",
            "id": "first-event-url",
            "label": "Select Event"
        },
        {
            "type": "text",
            "id": "date",
            "label": "Date"
        },
        {
            "type": "text",
            "id": "location-event",
            "label": "Location Event"
        },
        {
            "type": "text",
            "id": "description-event",
            "label": "Description Event"
        },
        {
            "type": "header",
            "content": "Second Event"
        },
        {
            "type": "url",
            "id": "second-event-url",
            "label": "Select Event"
        },
        {
            "type": "text",
            "id": "date-second",
            "label": "Date"
        },
        {
            "type": "text",
            "id": "location-event-second",
            "label": "Location Event"
        },
        {
            "type": "text",
            "id": "description-event-second",
            "label": "Description Event"
        },
        {
            "type": "header",
            "content": "Third Event"
        },
        {
            "type": "url",
            "id": "third-event-url",
            "label": "Select Event"
        },
        {
            "type": "text",
            "id": "date-third",
            "label": "Date"
        },
        {
            "type": "text",
            "id": "location-event-third",
            "label": "Location Event"
        },
        {
            "type": "text",
            "id": "description-event-third",
            "label": "Description Event"
        },
        {
            "type": "header",
            "content": "fourth Event"
        },
        {
            "type": "url",
            "id": "fourth-event-url",
            "label": "Select Event"
        },
        {
            "type": "text",
            "id": "date-fourth",
            "label": "Date"
        },
        {
            "type": "text",
            "id": "location-event-fourth",
            "label": "Location Event"
        },
        {
            "type": "text",
            "id": "description-event-fourth",
            "label": "Description Event"
        },
        {
            "type": "select",
            "id": "text_tab",
            "label": "Text Tab",
            "options": [
                {
                    "value": "tab-1",
                    "label": "Tab 1"
                },
                {
                    "value": "tab-2",
                    "label": "Tab 2"
                },
                {
                    "value": "tab-3",
                    "label": "Tab 3"
                }
            ],
            "default": "tab-1"
        }
  
    ]
  }
],
"presets": [{
    "name": "tabs",
    "category": "Content"
  }]
}
{% endschema %} 