{{ 'tabs.css' | asset_url | stylesheet_tag }}
<div class="w-full  h-full block md:flex pt-20">
    <div class="w-10 mx-auto flex">
        <div class="w-1/2 relative" id="width-fl-tabs">
            <div class="block">
              <div class="block">
                {% if section.settings.smtext != blank %}
                    <div class="smtext">
                      {{ section.settings.smtext }}
                    </div>
                {% endif %}
                    {% if section.settings.heading != blank %}
                    <div class="font-slider">
                      {% render 'green-text', text: section.settings.heading %}
                    
                    </div>
                {% endif %}
                {% if section.settings.desc != blank %}
                    <div class="desc-config pt-10 ">
                      {{ section.settings.desc }}
                    </div>
                {% endif %}
                    <div class="flex ">
                        {% if section.settings.button_text != blank %}
                        <a href="{{ section.settings.button_url }}"
                          class="button-config-text pt-14	"
                          aria-label="{{ ariaLabel }}">
                            <div class="greenbutton ">
                              {{- section.settings.button_text | escape -}}
                            </div>
                        </a>
                    {% endif %}
                    {% if section.settings.button_text != blank %}
                    <a href="{{ section.settings.secondbutton_url }}"
                      class="button-config-text pt-14 pl-5	"
                      aria-label="{{ ariaLabel }}">
                        <div class="buttontext">
                          {{- section.settings.secondbutton_text | escape -}}
                        </div>
                    </a>
                {% endif %}
                    </div>
                </div>
            </div>
            <div class="absolute right-0 w-920px" id="position-image">
              {{ section.settings.image | img_url: 'master'| img_tag: block.settings.icon.alt}} 
              </div>
        </div>

        <div class="w-1/2 flex justify-center" id="flex-tab">
            <div class="w-9/12" id="w-ful-tab-1">
                <ul class="tabs w-full flex justify-between	">
                  <li><a href="#tab-1"><div class="head-tabs-title">{{section.settings.firsttab}}</div></a></li>
                  <li><a href="#tab-2"><div class="head-tabs-title">{{section.settings.secondtab}}</div></a></li>
                  <li><a href="#tab-3"><div class="head-tabs-title">{{section.settings.thirdtab}}</div></a></li>
                </ul>
                <div id="tab-1" class="">
                  <div class="mt-10">
                    <table>
                        <tr class="h-91px">
                          <td class="w-2/6 field-text">{{ page.metafields.global.tab1 }}</td>
                          <td>Maria Anders</td>
                        </tr>
                        <tr class="h-91px">
                          <td>Centro comercial Moctezuma</td>
                          <td>Francisco Chang</td>
                        </tr >
                        <tr class="h-91px">
                          <td>Ernst Handel</td>
                          <td>Roland Mendel</td>
                        </tr ">
                        <tr class="h-91px">
                          <td>Island Trading</td>
                          <td>Helen Bennett</td>
                        </tr>
                        <tr class="h-91px">
                          <td>Laughing Bacchus Winecellars</td>
                          <td>Yoshi Tannamuri</td>
                        </tr>
                        <tr class="h-91px">
                          <td class="w-2/6 field-text">{{ page.metafields.global.tab1 }}</td>
                          <td>Maria Anders</td>
                        </tr>
                        <tr class="h-91px">
                          <td>Centro comercial Moctezuma</td>
                          <td>Francisco Chang</td>
                        </tr >
                        <tr class="h-91px">
                          <td>Ernst Handel</td>
                          <td>Roland Mendel</td>
                        </tr ">
                        <tr class="h-91px">
                          <td>Island Trading</td>
                          <td>Helen Bennett</td>
                        </tr>
                        <tr class="h-91px">
                          <td>Laughing Bacchus Winecellars</td>
                          <td>Yoshi Tannamuri</td>
                        </tr>
                      </table>
                    </div>
                </div>
                <div id="tab-2" class="">
                  <div class="mt-10">
                  <table>
                    <tr class="h-91px">
                      <td class="w-2/6 field-text">{{ page.metafields.global.tab1 }}</td>
                      <td>Maria Anders</td>
                    </tr>
                    <tr class="h-91px">
                      <td>Centro comercial Moctezuma</td>
                      <td>Francisco Chang</td>
                    </tr >
                    <tr class="h-91px">
                      <td>Ernst Handel</td>
                      <td>Roland Mendel</td>
                    </tr ">
                    <tr class="h-91px">
                      <td>Island Trading</td>
                      <td>Helen Bennett</td>
                    </tr>
                    <tr class="h-91px">
                      <td>Laughing Bacchus Winecellars</td>
                      <td>Yoshi Tannamuri</td>
                    </tr>
                    <tr class="h-91px">
                      <td class="w-2/6 field-text">{{ page.metafields.global.tab1 }}</td>
                      <td>Maria Anders</td>
                    </tr>
                    <tr class="h-91px">
                      <td>Centro comercial Moctezuma</td>
                      <td>Francisco Chang</td>
                    </tr >
                    <tr class="h-91px">
                      <td>Ernst Handel</td>
                      <td>Roland Mendel</td>
                    </tr ">
                    <tr class="h-91px">
                      <td>Island Trading</td>
                      <td>Helen Bennett</td>
                    </tr>
                    <tr class="h-91px">
                      <td>Laughing Bacchus Winecellars</td>
                      <td>Yoshi Tannamuri</td>
                    </tr>
                  </table>
                  </div>
                </div>
                <div id="tab-3" class="">
                  <div class="mt-10">
                  <table>
                    <tr class="h-91px">
                      <td class="w-2/6 field-text">{{ page.metafields.global.tab1 }}</td>
                      <td>Maria Anders</td>
                    </tr>
                    <tr class="h-91px">
                      <td>Centro comercial Moctezuma</td>
                      <td>Francisco Chang</td>
                    </tr >
                    <tr class="h-91px">
                      <td>Ernst Handel</td>
                      <td>Roland Mendel</td>
                    </tr ">
                    <tr class="h-91px">
                      <td>Island Trading</td>
                      <td>Helen Bennett</td>
                    </tr>
                    <tr class="h-91px">
                      <td>Laughing Bacchus Winecellars</td>
                      <td>Yoshi Tannamuri</td>
                    </tr>
                    <tr class="h-91px">
                      <td class="w-2/6 field-text">{{ page.metafields.global.tab1 }}</td>
                      <td>Maria Anders</td>
                    </tr>
                    <tr class="h-91px">
                      <td>Centro comercial Moctezuma</td>
                      <td>Francisco Chang</td>
                    </tr >
                    <tr class="h-91px">
                      <td>Ernst Handel</td>
                      <td>Roland Mendel</td>
                    </tr ">
                    <tr class="h-91px">
                      <td>Island Trading</td>
                      <td>Helen Bennett</td>
                    </tr>
                    <tr class="h-91px">
                      <td>Laughing Bacchus Winecellars</td>
                      <td>Yoshi Tannamuri</td>
                    </tr>
                  </table>
                </div>
                </div>
              </div>
        </div>
    </div>
</div>
  {% schema %}
{
"name": "tabs",
"settings": [ 
    {
        "type": "image_picker",
        "id": "image",
        "label": "Background image"
    }, 
    {
        "type": "richtext",
        "id": "smtext",
        "label": "Small Heading"
      }, 
    {
    "type": "richtext",
    "id": "heading",
    "label": "Heading"
  }, 
  {
    "type": "richtext",
    "id": "desc",
    "label": "Description"
  },
  {
    "type": "text",
    "id": "button_text",
    "label": "Button text"
  },
  {
    "type": "url",
    "id": "button_url",
    "label": "Button url"
  },
  {
    "type": "text",
    "id": "firsttab",
    "label": "Tab 1"
  },
  {
    "type": "text",
    "id": "secondtab",
    "label": "Tab 2"
  }, 
  {
    "type": "text",
    "id": "thirdtab",
    "label": "Tab 3"
  }
  
],
"presets": [{
"name": "tabs",
"category": "Content"
}]
}
{% endschema %} 