<div class="md:h-screen h-90vh overflow-hidden	">
{% if section.settings.background_image != blank %}<div id="img-replace" class=" max-h-screen sm:h-screen	h-50vh w-full  bg-no-repeat bg-contain flex"  style="background-image: url({{ section.settings.background_image | img_url: 'master' }})"  >{% endif %}
    <div class="mx-auto mr-14 w-10 items-center flex sm:h-screen h-50vh relative ">
    <div class="block mx-auto sm:relative absolute sm:top-0 top-1/2" id="rd">
      <div class="absolute xl:-top-20 top-auto xl:bottom-auto -bottom-28 h-full w-full xl:ml-auto ml-16">
          <div class="swiper-button-next absolute xl:top-15 xl:left-77 top-auto left-0">{% include 'icon_right-slider-black' %}</div>
          <div class="swiper-button-prev absolute xl:top-15 xl:left-72">{% include 'icon_left-slider-black' %}</div>
      </div>
        <div class="w-10 swiper-container mySwiper">
        
            <div class="swiper-wrapper">
              {% for block in section.blocks %}
              <div class="swiper-slide">
                <div class=" mr-8 bg-cardsbg hover:bg-white hover:shadow-default py-20	px-5	relative mx-auto text-center
                  flex items-center
                    rounded-md overflow-hidden
                    md:w-full xl:h-full
                    cursor-pointer sm:space-x-1.5 space-y-1.5
                    lg:space-x-0 lg:space-y-0
                    space-x-0 lg:space-y-0
                    shadow-cardssh border border-border"
                    >
                      <div  class="block">
                      <div  class="flex justify-center items-center pb-10"> {{ block.settings.background_image | img_url: 'master'| img_tag: block.settings.icon.alt}} </div>
                      <div  class="flex justify-center items-center name-testimonial  pb-5">{{ block.settings.title}}</div>
                      <div  class="flex justify-center items-center  position-testimonial  b-5">{{ block.settings.subheading}}</div>
                      <div class="pt-10 mx-7	description-testimonial">{{ block.settings.description }}</div>
                      </div>
                </div>
              </div>
              {% endfor %}
  </div>
</div>
</div>
</div>
</div>
</div>
{% schema %}
{
"name": "Testimonial Slider",
"class": "spaced-section",
"max_blocks": 4,
"settings": [ 
{
  "type": "image_picker",
  "id": "background_image",
  "label": "Background image"
}, 
{
  "type": "image_picker",
  "id": "mobile_background_image",
  "label": "Mobile Background image"
},
{
  "type": "richtext",
  "id": "title",
  "label": "Heading"
}, 
{
  "type": "text",
  "id": "subheading",
  "label": "Subheading"
}
],
"blocks": [
  {
    "type": "card",
    "name": "Card",  
    "settings": [
    {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image"
      },
    {
        "type": "richtext",
        "id": "title",
        "label": "Title"
      },
    {
        "type": "richtext",
        "id": "subheading",
        "label": "Subheading"
      }, 
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    }
    ]
  }
],
"presets": [{
"name": "Testimonial Slider",
"category": "Content",
"blocks": [{
  "type": "card"
},{
  "type": "card"
}]
}]
}
{% endschema %} 