<div class="max-h-screen h-screen">
{% if section.settings.background_image != blank %}<div id="img-replace" class=" max-h-screen sm:h-screen	h-50vh w-full  bg-no-repeat bg-contain flex"  style="background-image: url({{ section.settings.background_image | img_url: 'master' }})"  >{% endif %}
    <div class="mx-auto mr-14 w-10 items-center flex sm:h-screen h-50vh relative ">
    <div class="flex  mx-auto sm:relative absolute sm:top-0 top-1/2" id="rd">
        <div class="w-10 swiper-container mySwiper ">
            <div class="swiper-wrapper">
      {% for block in section.blocks %}
      <div class="swiper-slide">
      <div class=" mr-8 bg-cardsbg relative mx-auto text-center
        flex items-center
          rounded-md overflow-hidden
          md:w-full xl:h-full
          pt-7 sm:pt-0
          cursor-pointer sm:space-x-1.5 space-y-1.5
          lg:space-x-0 lg:space-y-0
          space-x-0 lg:space-y-0
          shadow-cardssh border border-border"
          >
            <div  class="block">
            <div id="review-card_image" class="flex justify-center items-center pb-10"> {{ block.settings.background_image | img_url: 'master'| img_tag: block.settings.icon.alt}} </div>
            <div id="review-card_name" class="flex justify-center items-center uppercase font-condensed text-4xl tracking-wide leading-tight pb-5">{{ block.settings.title}}</div>
            <div id="review-card_job-title" class="flex justify-center items-center uppercase font-condensed text-3xl mt-5 tracking-large leading-tightp b-5">{{ block.settings.subheading}}</div>
            <div id="review-card_description" class="pt-10">{{ block.settings.description }}</div>
            </div>
      </div>
    </div>
      {% endfor %}
  </div>
</div>
</div>
</div>
</div>
</div>
{% schema %}
{
"name": "Testimonial Slider",
"max_blocks": 4,
"settings": [ 
{
  "type": "image_picker",
  "id": "background_image",
  "label": "Background image"
}, 
{
  "type": "image_picker",
  "id": "mobile_background_image",
  "label": "Mobile Background image"
},
{
  "type": "richtext",
  "id": "title",
  "label": "Heading"
}, 
{
  "type": "text",
  "id": "subheading",
  "label": "Subheading"
}
],
"blocks": [
  {
    "type": "card",
    "name": "Card",  
    "settings": [
    {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image"
      },
    {
        "type": "richtext",
        "id": "title",
        "label": "Title"
      },
    {
        "type": "richtext",
        "id": "subheading",
        "label": "Subheading"
      }, 
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    }
    ]
  }
],
"presets": [{
"name": "Testimonial Slider",
"category": "Content",
"blocks": [{
  "type": "card"
},{
  "type": "card"
}]
}]
}
{% endschema %} 